
body {
  background-color: black;
}

.inicio{
  text-decoration: none;
  background-color: black;
}
.cuartomenguante{
color: antiquewhite;
text-align: center;
font-family: 'Saira Condensed', sans-serif;
font-size: 600%;}

:hover h1 {
color: rgb(172, 65, 65);
transition: 1s;

}

.menu{
    display:flex;
  justify-content: space-around;
  list-style: none;

}
.menu_li {
  color: antiquewhite;
  
}

.historia {
  color: black;
  text-align: center;
  padding:20px;
  display:inline-block;


}

/*TIENDA WEB JS*/

#tiendaweb {
text-align: center;
color: white;

}

.articulos{
  display: flex;
  justify-content: space-between;
  padding: 100px;
}

.remera {
  
color: white;

}

#btnMain {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(172, 65, 65);
  color: white;
  border-radius: 0.5em;
}


.disco {
 color: white;

  
}

#btnMain1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(172, 65, 65);
  color: white;
  border-radius: 0.5em;
}
.buzo {
  
  
}
#btnMain2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(172, 65, 65);
  color: white;
  border-radius: 0.5em;
}
.redes{
  color: white;
}